.reservation-alert-container {
  background: #f7f5f5;
  padding: 8px 20px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(168, 119, 119, 0.08);
  font-family: "Segoe UI", sans-serif;
  max-width: 100%;
  overflow-x: auto;
}

.reservation-alert-container h2 {
  margin-bottom: 12px;
  color: #2c3e50;
  font-size: 1.25rem;
  font-weight: 600;
}

.reservation-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8rem;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.reservation-table thead {
  background-color: #677edb;
  color: #fff;
}

.reservation-table th,
.reservation-table td {
  padding: 4px 8px;
  text-align: left;
  white-space: nowrap;
}

.reservation-table tbody tr:nth-child(even) {
  background-color:  #f2f6fa;
}

.reservation-table tbody tr:hover {
  background-color: #e8edff;
  transition: 0.2s ease-in-out;
  cursor: default;
}

.reservation-table td {
  color: #333;
  vertical-align: middle;
  border-bottom: 2px solid #eee;
}

@media (max-width: 750px) {
  .reservation-table th,
  .reservation-table td {
    padding: 6px 8px;
    font-size: 0.8rem;
  }

  .reservation-alert-container h2 {
    font-size: 1rem;
  }
}





.reservation-button.alert-active {
  background-color: #e74c3c; /* red */
  color: white;
}

.reservation-button.alert-inactive {
  background-color: #7f8c8d; /* gray */
  color: white;
}
