.list-bar-payment-container {
  padding: 10px;
  background: #f5f2f2;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.list-bar-payment-container h2 {
  margin-bottom: 16px;
  font-size: 1.5rem;
  color: #333;
}

.bar-payment-table {
  width: 100%;
  border-collapse: collapse;
}

.bar-payment-table th,
.bar-payment-table td {
  border: 1px solid #ddd;
  padding: 2px 3px;
  text-align: center;
}

.bar-payment-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.status.unpaid {
  color: red;
  font-weight: bold;
}

.status.part-payment {
  color: orange;
  font-weight: bold;
}

.status.fully-paid {
  color: green;
  font-weight: bold;
}

.status.voided {
  color: gray;
  font-style: italic;
}

.status.voided {
  color: gray;
  font-style: italic;
}

.btn-edit,
.btn-delete {
  padding: 2px 4px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 2px;
}

.btn-edit {
  background: #4caf50;
  color: white;
}

.btn-edit:hover {
  background: #45a049;
}

.btn-delete {
  background: #f44336;
  color: white;
}

.btn-delete:hover {
  background: #da190b;
}

.error {
  color: red;
  margin: 10px 0;
}


.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
}

.modal-content h3 {
  margin-bottom: 15px;
}

.modal-content label {
  display: block;
  margin: 8px 0 4px;
  font-weight: bold;
}

.modal-content input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}


.modal-content select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff;
}
