# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/

# Environment variables
.env

# VSCode settings
.vscode/

# Ignore license and dependency files
requirements.txt
licence.txt
# python-3.12.2-embed-amd64/LICENSE.txt
python

