.auth-container {
  width: 100%;
  max-width: 260px; /* Reduced width */
  margin: 60px auto; /* Less vertical space */
  padding: 20px; /* Smaller padding */
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  background-color:#0f172a; /* Optional soft background */
}


.auth-container h2 {
  margin-bottom: 16px;
  font-size: 20px; /* Slightly smaller */
  color: #1e3a8a;
  font-weight: 600;
}

.auth-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Reduced gap */
}

.auth-container input,
.auth-container select {
  width: 75%;
  align-self: center;
  padding: 8px 10px;
  border: 1px solid #d1d5db;
  border-radius: 12px; /* More rounded */
  font-size: 13px;
  background: #f9fafb;
  transition: 0.3s;
}


.auth-container input:focus,
.auth-container select:focus {
  outline: none;
  border-color: #3b82f6;
  background: #ffffff;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.15);
}

.auth-logo-text {
  font-size: 28px; /* Slightly reduced */
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: 4px;
  color: #2e86de;
}

.auth-logo-text span {
  color: #20c997;
}

.auth-container button {
  padding: 8px;
  background-color: #1e3a8a;
  color: white;
  font-weight: 500;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.auth-container button:hover {
  background-color: #3745a3;
}

.auth-container p {
  margin-top: 10px;
  font-size: 12px;
  color: #6b7280;
  text-align: center;
}

.auth-container a {
  color: #3b82f6;
  text-decoration: none;
}

.auth-container a:hover {
  text-decoration: underline;
}

.error-msg {
  color: #dc2626;
  background: #fee2e2;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
}


.hems-logo-top-left {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 80px;
  height: auto;
  object-fit: contain;
  z-index: 1000;
}


.homes-footer {
  position: fixed;
  bottom: 10px;
  right: 20px;
  color: white;
  font-size: 0.9rem;
  text-align: right;
  font-style: italic;
}